body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    margin: 0px;
    padding: 0px;
}

.navegador {
    background-color: #3D50B6;
    height: 50px;
}

.navegador a {
    text-decoration: none;
    color: white;
}

.navegador ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
}

.navegador li {
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 50px;
    font-size: 24px;
}

.navegador li.threeline-icon {
    color: #FFFFFF;
    display: none;
}

.localizacao {
    margin-top: 50px;
    text-align: center;
}

.localizacao iframe {
    margin-top: 30px;
}

.caminho {
    list-style: none;
    padding-left: 20;
    padding-top: 20;
    color: black;
}

.caminho li {
    display: inline-block;
}

.caminho a {
    color: black;
}

.navegador a:hover {
    color: #000000;
    font-weight: bold;
}


/*==============================Animação================================*/

.navegador ul li {
    opacity: 0;
    animation: mostrarLista 1s 1s forwards;
}

@keyframes mostrarLista {
    to {
        opacity: 1;
    }
}

/*===============================Responsivo===========================*/
@media (max-width: 600px) {

    .navegador li {
        display: none;
    }

    .navegador li.threeline-icon {
        display: inline-block;
    }

    .menujs {
        height: auto;
    }

    .menujs ul {
        height: auto;
        text-align: center;
        padding-right: 15%;
        padding-left: 15%;
    }

    .menujs li {
        display: block;
        border-bottom: solid #000000 1.5px;
    }
}