body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    margin: 0px;
    padding: 0px;
}

.navegador {
    background-color: #3D50B6;
    height: 50px;
}

.navegador a {
    text-decoration: none;
    color: white;
}

.navegador a:hover {
    color: #000000;
    font-weight: bold;
}

.navegador ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
}

.navegador li {
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 50px;
    font-size: 24px;
}

.navegador li.threeline-icon {
    color: #FFFFFF;
    display: none;
}

.custom-button {
    color: blue;
}

.caminho {
    list-style: none;
    padding-left: 20;
    padding-top: 10;
    margin-bottom: -50px;
    color: black;
}

.caminho li {
    display: inline-block;
}

.caminho a {
    color: black;
}

.container {
    margin-bottom: -50px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

/*==============================Animação================================*/

.navegador ul li {
    opacity: 0;
    animation: mostrarLista 1s 1s forwards;
}

@keyframes mostrarLista {
    to {
        opacity: 1;
    }
}


/*===============================Responsivo===========================*/

@media (max-width: 600px) {

    .navegador li {
        display: none;
    }

    .navegador li.threeline-icon {
        display: inline-block;
    }

    .menujs {
        height: auto;
    }

    .menujs ul {
        height: auto;
        text-align: center;
        padding-right: 15%;
        padding-left: 15%;
    }

    .menujs li {
        display: block;
        border-bottom: solid #000000 1.5px;
    }
}

.grid {
    margin-top: 65px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr; /* Alteração: Definindo apenas uma coluna */
    grid-gap: 50px;
}